In [1]:
import pandas as pd

## Pair Programming EDA I

Para todos los ejercicios de pair programming de EDA I y II usaremos los dataframes de los tickets de todos los años y el de los empleados. Los tenéis al final del pair por si los queréis descargar.
En el ejercicio de hoy nos familiarizaremos con el dataset completo sobre el que trabajaremos en la parte de limpieza.
Pero para hacer una exploración y limpieza buena del dataset no lo podemos hacer como pollo sin cabeza a ver que nos encontramos. Necesitamos hacernos una serie de preguntas o hipótesis que queramos contestar. En este caso os plantemos las siguientes preguntas a contestar a lo largo de los ejercicios de pair programming de este módulo:

In [3]:
df = pd.read_csv("datos/historico_tickets_limpio_pandas.csv", index_col=0)

In [4]:
df.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo

# Hipótesis

Las hipótesis que os planteamos para el conjunto de datos de historico_tickets_limpio_pandas son:

Tiempo de resolución: Se podría hipotetizar que los tickets con mayor severidad y prioridad son resueltos en menos días que los tickets con menor prioridad. Además, se podría examinar si hay alguna correlación entre el tipo de problema y el tiempo que toma resolverlo.

La pregunta que contestaremos es: ¿Son los tickets con mayor severidad y prioridad los que se resuelven antes?

Satisfacción del cliente: Se podría hipotetizar que la satisfacción del cliente está relacionada con la velocidad de resolución del ticket y la categoría del problema. Por ejemplo, los clientes podrían estar más satisfechos si sus problemas de acceso y login se resuelven rápidamente en comparación con los problemas de software más complejos.

La pregunta que contestaremos es: ¿Están los clientes con problemas de acceso y login más contentos que los que tienen problemas de software?

Desempeño del agente: Se podría hipotetizar que algunos agentes tienen un mejor desempeño que otros en la resolución de tickets. Se podrían explorar variables como el número de tickets asignados, el tiempo promedio de resolución y la satisfacción del cliente para identificar patrones en el desempeño de los agentes.

La pregunta que contestaremos es: 

¿Cuáles son los empleados que más tickets atienden? 

¿Son los empleados que atienden más tickets los que tardan más en solucionar los problemas de los clientes? 

¿Y la media de la satisfacción de los clientes es menor en aquellos empleados que atienden más solicitudes?

Cambios en el tiempo: Se podría hipotetizar que el volumen y la naturaleza de los problemas cambian con el tiempo. Por ejemplo, se podría explorar si hay un aumento en los problemas de acceso y login durante un determinado período de tiempo, o si hay una correlación entre la temporada del año y el tipo de problema reportado.


La pregunta que contestaremos es: 

¿Hay alguna diferencia entre a lo largo del tiempo entre las distintas categorías de solicitudes de tickets que tenemos?

Objetivos

El objetivo principal de este pair es comprender la estructura de los datos, como es formato de los datos, el número de columnas y filas, el tipo de datos, la distribución de los datos, etc. 

Los objetivos específicos de hoy son:

1.Haced una exploración inicial del dataframe:

¿Cuál es el número de filas y columnas?

¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [5]:
df.shape

(97386, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97386 entries, 0 to 29087
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        97386 non-null  object
 1   fecha            97386 non-null  object
 2   id_empleado      97386 non-null  int64
 3   id_agente        97386 non-null  int64
 4   categoría        97386 non-null  object
 5   tipo             97386 non-null  object
 6   severidad        97386 non-null  object
 7   prioridad        97386 non-null  object
 8   días_resolución  97386 non-null  int64
 9   satisfacción     97386 non-null  int64
 10  semestre         97386 non-null  object
 11  año              97386 non-null  int64
 12  mes              97386 non-null  object
dtypes: int64(5), object(8)
memory usage: 10.4+ MB

In [22]:
df_nulos = df.isnull().sum()/ df.shape[0] * 100

In [27]:
df_2 = pd.DataFrame(df_nulos)

In [28]:
df_2.head()

               0
id_ticket    0.0
fecha        0.0
id_empleado  0.0
id_agente    0.0
categoría    0.0

¿Qué tipos de datos hay en cada columna?

In [30]:
df.dtypes

id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

Extraed la información general del dataframe.

In [35]:
#para las numéricas 
df_num = df.describe().T

In [37]:
df_num.head()

,count,mean,std,min,25%,50%,75%,max
id_empleado,97386.0,999.160639,577.407222,1.0,500.0,999.0,1499.0,2000.0
id_agente,97386.0,25.468856,14.449455,1.0,13.0,26.0,38.0,50.0
días_resolución,97386.0,4.552749,4.365432,0.0,0.0,4.0,7.0,21.0
satisfacción,97386.0,4.100990,1.257093,1.0,4.0,5.0,5.0,5.0
año,97386.0,2018.399164,1.393095,2016.0,2017.0,2019.0,2020.0,2020.0

In [36]:
#para las categóricas

df_cat = df.describe( include = 'object').T

In [38]:
df_cat.head()

           count unique                top   freq
id_ticket  97386  97386  GDDENR-5042564453      1
fecha      97386   1827         2020-02-20    105
categoría  97386      4            Sistema  38961
tipo       97386      2          Solicitud  73138
severidad  97386      5         2 - Normal  88555

2. Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.


Extraed los valores únicos.

BONUS presenta los resultados en un dataframe. Os deberá quedar algo como esto:


Donde variable es cada una de las variables categóricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores únicos de cada variable.

> ¿Cuáles son los principales estádisticos de los dataframes?

Los principales valores estadísticos de las variables numéricas son:
 - Conteo sin nulos
 - Media
 - Desviación típica
 - Mínimo y máximo 
 - Percentiles - el 50% coincide con la mediana
 

 Los principales valores estadísticos de las variables categóricas son:
 - Conteo sin nulos
 - Frecuencia
 - Valores únicos

Extraed los valores únicos.

In [41]:
categoricas = df.select_dtypes(include = "object")
categoricas.head()

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,2016-07-13,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio
1,GDDENR-8042508060,2016-05-18,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Mayo
2,GDDESR-1342539995,2016-06-18,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Junio
3,GDDTSR-5942488006,2016-04-28,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Abril
4,GDLEER-0042524120,2016-06-03,Software,Problema,2 - Normal,0 - Sin Asignar,1 semestre,Junio

In [42]:
for col in categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(df[col].unique())
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna id_ticket tenemos los siguientes valores unicos
['GDDENR-5042564453' 'GDDENR-8042508060' 'GDDESR-1342539995' ...
 'TWRTSR-9643846768' 'TWRTSR-9944138906' 'TWRTST-8643986162']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna fecha tenemos los siguientes valores unicos
['2016-07-13' '2016-05-18' '2016-06-18' ... '2020-06-03' '2020-06-12'
 '2020-02-19']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna categoría tenemos los siguientes valores unicos
['Acceso/Login' 'Sistema' 'Software' 'Hardware']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna tipo tenemos los siguientes valores unicos
['Problema' 'Solicitud']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna severidad tenemos los siguientes valores unicos
['0 - Sin Clasificar' '2 - Normal' '4 - Crítico' '3 - Mayor' '1 - Menor']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna prioridad tenemos los siguientes valores unicos
['0 - Sin Asignar' '3 - Alta' '2 - Media' '1 - Baja']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna semestre tenemos los siguientes valores unicos
['2º semestre' '1 semestre']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna mes tenemos los siguientes valores unicos
['Julio' 'Mayo' 'Junio' 'Abril' 'Agosto' 'Marzo' 'Enero' 'Septiembre'
 'Octubre' 'Diciembre' 'Noviembre' 'Febrero']

 ------------------------------------------------------------

In [43]:
#frecuencias de los valores únicos

for col in categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(df[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna id_ticket tenemos los siguientes valores unicos
                   id_ticket
GDDENR-5042564453          1
TDLTSR-7643684027          1
TDLTSR-7943733018          1
TDLTSR-7943531091          1
TDLTSR-7843654041          1
...                      ...
GMLTSR-7943266311          1
GMLTSR-7743345530          1
GMLTSR-7743273810          1
GMLTSR-7743134581          1
TWRTST-8643986162          1

[97386 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna fecha tenemos los siguientes valores unicos
            fecha
2020-02-20    105
2020-12-16    105
2020-12-31    103
2020-03-14    103
2020-06-14    102
...           ...
2016-08-21     22
2016-03-04     22
2016-04-14     21
2016-07-08     18
2016-11-17     17

[1827 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna categoría tenemos los siguientes valores unicos
              categoría
Sistema           38961
Acceso/Login      29165
Software          19543
Hardware           9717

 ------------------------------------------------------------

------------------------------------------------------------

En la columna tipo tenemos los siguientes valores unicos
            tipo
Solicitud  73138
Problema   24248

 ------------------------------------------------------------

------------------------------------------------------------

En la columna severidad tenemos los siguientes valores unicos
                    severidad
2 - Normal              88555
3 - Mayor                4831
1 - Menor                2254
4 - Crítico              1390
0 - Sin Clasificar        356

 ------------------------------------------------------------

------------------------------------------------------------

En la columna prioridad tenemos los siguientes valores unicos
                 prioridad
3 - Alta             35511
0 - Sin Asignar      29376
1 - Baja             16670
2 - Media            15829

 ------------------------------------------------------------

------------------------------------------------------------

En la columna semestre tenemos los siguientes valores unicos
             semestre
2º semestre     49876
1 semestre      47510

 ------------------------------------------------------------

------------------------------------------------------------

En la columna mes tenemos los siguientes valores unicos
             mes
Octubre     8487
Agosto      8474
Diciembre   8392
Noviembre   8248
Marzo       8219
Septiembre  8210
Junio       8131
Mayo        8108
Julio       8065
Abril       7929
Febrero     7892
Enero       7231

 ------------------------------------------------------------

#Conclusiones

De qué nos sirven estos números y dataframe? Extraed conclusiones de ellos.
Por ejemplo:
¿Hay alguna columna que no tenga sentido su tipo de datos?

- La columna fecha podría cambiarse a datetime/integer

In [44]:
df.dtypes

id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

In [47]:
df.sample(10)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
27626,TMLTNR-5044174428,2020-12-09,252,44,Acceso/Login,Solicitud,2 - Normal,2 - Media,0,5,2º semestre,2020,Diciembre
4521,GHLTNT-0043920073,2020-03-30,1297,40,Acceso/Login,Solicitud,2 - Normal,3 - Alta,0,5,1 semestre,2020,Marzo
23764,TDLTER-7343941455,2020-04-20,1125,44,Software,Solicitud,2 - Normal,0 - Sin Asignar,3,5,1 semestre,2020,Abril
11434,SWLEER-7242887897,2017-06-01,1999,38,Software,Problema,2 - Normal,1 - Baja,2,5,1 semestre,2017,Junio
5972,KHLTSR-0442630479,2016-09-17,887,4,Sistema,Solicitud,2 - Normal,3 - Alta,3,4,2º semestre,2016,Septiembre
12159,KHLTER-8543979402,2020-05-28,210,14,Software,Solicitud,2 - Normal,3 - Alta,5,5,1 semestre,2020,Mayo
24264,TDLTNT-5043951321,2020-04-30,242,23,Acceso/Login,Solicitud,2 - Normal,0 - Sin Asignar,0,4,1 semestre,2020,Abril
26939,THLTST-9543889092,2020-02-28,1659,20,Sistema,Solicitud,2 - Normal,3 - Alta,5,5,1 semestre,2020,Febrero
1779,GHLTER-5043027068,2017-10-19,876,30,Hardware,Solicitud,2 - Normal,3 - Alta,10,5,2º semestre,2017,Octubre
18944,SHLENT-7044096702,2020-09-22,1090,7,Acceso/Login,Problema,2 - Normal,3 - Alta,0,5,2º semestre,2020,Septiembre

¿Hay alguna columna que no tenga sentido su nombre?
¿Hay alguna columna que no tenga sentido su contenido?
¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?